.home {
    position: relative;
    height: 80%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    &__text-wrapper {
        display: flex;
        
        
        justify-content: center;

        h1 {
            color: var(--blue-theme-main-color);
            font-weight: 500;
            font-size: 8.5rem;
            line-height: 10rem;
            position:relative;
            overflow: hidden;
            white-space: nowrap;
            animation: machineTyping 2.5s ;
        }
    }

    &__contact {
        display: flex;
        justify-content: center;
        margin: 1.5rem;

        button {
            cursor: pointer;
            padding: 1rem 7rem;
            font-size: 2rem;
            background: transparent;
            color: var(--blue-theme-main-color);
            border: .15rem solid var(--blue-theme-main-color);
            border-radius: .4rem;

            &:hover {
                background: var(--blue-theme-main-color);
                color: var(--blue-theme-sub-text-color);
            }
        }

        
    }
}

@media only screen and (max-width: 550px) {
    .home__text-wrapper h1 {
        font-size: 4rem;
        line-height: 5rem;
    }
}

@media only screen and (min-width: 551px) and (max-width: 768px) {
    .home__text-wrapper h1 {
        font-size: 4rem;
        line-height: 6rem;
    }
}

@media only screen and (min-width: 769) and (max-width: 990px) {
    .home__text-wrapper h1 {
        font-size: 6rem;
        line-height: 8rem;
    }
}

@keyframes machineTyping {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}